<%= simple_form_for @shop do |f| %>
  <%= f.input :name, inline_label: 'Nom de la boutique', placeholder: "Chez Louise", required: true %>
  <%= f.input :description, inline_label: 'Description de la boutique',placeholder: "La reine du cup cake", required: true %>
  <%= f.input :preparation_address, input_html: {id: "shop_input_autocomplete_address"}, label: 'Addresse de la boutique', placeholder:'25, rue du Petit Musc', required: true %>
  <p>Image de la boutique :</p>
  <p><%= f.file_field :picture %></p>
  <%= f.button :submit, 'Modifier ma boutique', class: "btn btn-primary" %>
<% end %>





