<div class="container">
  <div class="row">
    <% number = 0 %>
    <% if @shops.empty? %>
      <h3><%= "Vous n'avez pas encore de boutiques." %></h3>
    <% else %>
      <% @shops.each do |shop| %>
        <% number = number + 1 %>
        <div class="col-xs-3">
          <div class="shop-box text-center">
            <%= link_to shop_path(shop) do %>
              <% if shop.picture.exists? %>
                <%= image_tag shop.picture.url, class: "pastries-img" %>
              <% else %>
                <%= image_tag "placeholder2.png", class: "pastries-img"%>
              <% end %>
            <% end %>
            <div class="pastry-details">
              <p class="pastry-title"><span class="number">nยบ <%= number %><%=" "%></span><%= shop.name%></p>
              <ul class="list-inline list-unstyled">
                <li class="shop-description">
                  <% if shop.description.length > 30 %>
                    <%=shop.description.slice(0,1).capitalize + shop.description.slice(1..30).downcase %><%="..."%>
                  <% else %>
                    <%=shop.description.slice(0,1).capitalize + shop.description.slice(1..-1).downcase %>
                  <% end %>
                </li>
              </ul>
              <%= link_to shop_path(shop) do %>
                <div class="icon-right-container">
                  <i class="fa fa-angle-right icon-right"></i>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>


