<div class="container">
  <div class="row">
    <div class="col-xs-4 text-center">
      <% if @shop.picture.exists? %>
        <%= image_tag @shop.picture.url(:medium), class: "img-responsive" %>
      <% else %>
         <%= image_tag "http://placehold.it/200x200", class: "shop-img"%>
      <% end %>
      <hr>
      <% if @shop.user == current_user %>
        <%= link_to edit_shop_path(@shop), {class: "btn btn-warning"} do %>
          <i class="fa fa-pencil-square-o"></i>
          Editez votre boutique
        <% end %>
      <% end %>

      <% if @shop.user == current_user %>
        <%= link_to new_shop_pastry_path(@shop), {class: "btn btn-primary"} do %>
          <i class="fa fa-plus"></i>
          Ajouter une pâtisserie
        <% end %>
      <% end %>

      <% if @shop.user == current_user %>
        <%= link_to shop_path(@shop), class: "btn btn-danger", method: :delete do %>
          <i class="fa fa-trash-o"></i>
          Supprimez votre boutique
        <% end %>
      <% end %>
    </div>
    <div class="col-xs-8">
      <h1>
        <%= @shop.name %>
      </h1>
      <p>
        <%= @shop.description %>
      </p>
    </div>
  </div>
</div>


<div class="container text-center">
  <div class="row">
    <h2>Pastries of <%= @shop.name %></h2>
    <% @shop.pastries.each do |pastry| %>
      <div class="col-xs-4">
        <%= link_to pastry_path(pastry) do %>
          <% if pastry.picture_1.exists? %>
            <%=link_to pastry_path(pastry) do %>
              <%= image_tag pastry.picture_1.url(:thumb), class: "pastries-img" %>
            <% end %>
          <% else %>
            <%=link_to pastry_path(pastry) do %>
              <%= image_tag "http://placehold.it/100x100", class: "pastries-img"%>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <div class="row">
              <div class="col-xs-6">

                <%= link_to "Add", add_to_cart_pastry_path(pastry), remote: true, method: :post, class: "btn btn-primary"%>
              </div>
              <div class="col-xs-6">
                <%= link_to "Remove", remove_from_cart_pastry_path(pastry), remote: true, method: :delete, class: "btn btn-danger"%>
              </div>
            </div>
    <% end %>
  </div>
</div>


