<div class="container">
  <div class="row">

    <div class="col-xs-12">
      <div class="panel">
        <div class="panel-header">
          <p class="text-center">Mes commandes passées</p>
        </div>

        <table class="table panel-body row-space-1">
          <tbody>
          <TR>
            <TH> Statut</TH>
            <TH> Date de la commande </TH>
            <TH> Boutique </TH>
            <TH> Produit </TH>
            <TH> Quantité </TH>
            <TH> Tarif </TH>
            <TH> Date de livraison</TH>
          </TR>

          <% @shopping_carts.each do |cart| %>
            <TR>
              <TD>
                <% case cart.accepted %>
                  <% when "acceptée" %>
                    <p class="label-success">
                      <%= "Acceptée" %>
                    </p>
                  <% when "en attente" %>
                    <p class="label-pending">
                      <%= "En attente" %>
                    </p>
                  <% when "refusée" %>
                    <p class="label-danger">
                      <%= "Refusée" %>
                    </p>
                <% end %>
              </TD>
              <TD> <%= l(cart.created_at.to_date, format: :test) %> </TD>
              <TD>

                <% if cart.shop.picture.exists? %>
                 <%= image_tag cart.shop.picture.url(:thumb), class: "img-shop-orders" %>
                <% else %>
                 <%= image_tag "placeholder.png", class: "img-shop-orders" %>
                <% end %>
                <%= cart.shop.name %>

              </TD>
              <TD>
                <ul class="list-unstyled">
                  <% cart.shopping_cart_items.each do |cart_item| %>
                    <li>
                      <%= cart_item.item.title %>
                    </li>
                  <% end %>
                </ul>
              </TD>
              <TD>
                <ul class="list-unstyled">
                  <% cart.shopping_cart_items.each do |cart_item| %>
                    <li>
                      <%= cart_item.quantity %>
                    </li>
                  <% end %>
                </ul>
              </TD>
              # <TD> <%= cart.total %> €</TD>
              <TD> <%= l(cart.delivery_date, format: :test) %></TD>
            </TR>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>









