
<div class="container">
  <div class="row">

    <div class="col-xs-12">
      <div class="panel">
        <div class="panel-header">
          <p class="text-center">Mes commandes reçues</p>
        </div>
        <table class="table panel-body row-space-1">
          <tbody>
          <TR>
            <TH> Statut </TH>
            <TH> Date </TH>
            <TH> Acheteur </TH>
            <TH> Boutique </TH>
            <TH> Produit </TH>
            <TH> Quantité </TH>
            <TH> Tarif </TH>
            <TH> Date de livraison </TH>
          </TR>

          <% @shopping_carts.each do |cart| %>
            <TR>
              <TD>
                <% case cart.accepted %>
                  <% when "acceptée" %>
                    <p class="label-success">
                      <%= "Acceptée" %>
                    </p>
                  <% when "en attente" %>
                    <p class="label-pending">
                      <%= "En attente" %>
                    </p>
                  <% when "refusée" %>
                    <p class="label-danger">
                      <%= "Refusée" %>
                    </p>
                <% end %>
              </TD>
              <TD> <%= l(cart.created_at.to_date, format: :test) %> </TD>
              <TD>
                <%= link_to user_path(cart.user.id) do %>
                  <% if cart.user.picture.exists? %>
                   <%= image_tag cart.user.picture.url(:thumb), class: "img-shop-orders" %>
                  <% else %>
                   <%= image_tag "placeholder.png", class: "img-shop-orders" %>
                  <% end %>
                  <br>
                  <%= cart.user.first_name %> <%= cart.user.last_name %>
                  <br>
                  <% end %>
                  <%= cart.user.email %>
                  <br>
                  <%= cart.user.phone_number %>
                  <br>
                  <%= cart.user.address %>
              </TD>
              <TD>
                <%= link_to shop_path(cart.shop.id) do %>
                  <% if cart.shop.picture.exists? %>
                   <%= image_tag cart.shop.picture.url(:thumb), class: "img-shop-orders" %>
                  <% else %>
                   <%= image_tag "placeholder.png", class: "img-shop-orders" %>
                  <% end %>
                  <br>
                  <%= cart.shop.name %>
                <% end %>
              </TD>
              <% cart.shopping_cart_items.each do |cart_item| %>
                <TD>
                    <li class="list-unstyled">
                      <%= Pastry.find(cart_item.item_id).title %>
                    </li>
                </TD>
                <TD>
                    <li class="list-unstyled">
                      <%= cart_item.quantity %>
                    </li>
                </TD>
              <% end %>
              <TD> <%= cart.total %> €</TD>
              <TD> <%= l(cart.delivery_date, format: :test) %></TD>
              <TD>
                <% if cart.accepted == "en attente" %>
                  <ul class="list-unstyled">
                    <li>
                      <%= link_to accept_cart_shopping_cart_path(cart), method: :post, class: "link" do %>
                        <p class="btn-accept">Accepter</p>
                      <% end %>
                    </li>
                    <li>
                      <%= link_to decline_cart_shopping_cart_path(cart), method: :post, class: "link" do %>
                        <p class="btn-decline">Refuser</p>
                      <% end %>
                    </li>
                  </ul>
              <% end %>
              </TD>
            </TR>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>











