<div class="container">
    <TABLE class="table table-striped table-hover">
    <CAPTION> Récapitulatif de mes commandes </CAPTION>
    <TR>
     <TH> Date </TH>
     <TH> Acheteur </TH>
     <TH> Boutique </TH>
     <TH> Produit </TH>
     <TH> Quantité </TH>
     <TH> Tarif </TH>
     <TH> Statut </TH>
     <TH> Mode de livraison </TH>
    </TR>
    <% @shopping_carts.each do |cart| %>
      <TR>
        <TD> <%= cart.created_at ? l(cart.created_at.to_date, format: :test) : "no date" %> </TD>
        <TD> <%= cart.user.first_name %> <%= cart.user.last_name %> </TD>
        <TD> <%= cart.shop.name %></TD>
        <TD>
          <ul class="list-unstyled">
            <% cart.shopping_cart_items.each do |cart_item| %>
              <li>
                <%= cart_item.item.title %>
              </li>
            <% end %>
          </ul>
        </TD>
        <TD>
          <ul class="list-unstyled">
            <% cart.shopping_cart_items.each do |cart_item| %>
              <li>
                <%= cart_item.quantity %>
              </li>
            <% end %>
          </ul>
        </TD>
        <TD> <%= cart.total %> €</TD>
        <TD> <% if cart.delivery_choice = true %>
              <%= "Chez le patissier" %>
              <% else %>
              <%= "Chez l'acheteur" %>
              <% end %>
        </TD>
        <TD> <%= cart.accepted %> </TD>
        <TD>
            <% if cart.accepted == "en attente" %>
              <ul class="list-unstyled">
                <li>
                  <%= link_to accept_cart_shopping_cart_path(cart), method: :post do %>
                    <p class="btn btn-success">Accepter</p>
                  <% end %>
                </li>
                <li>
                  <%= link_to decline_cart_shopping_cart_path(cart), method: :post do %>
                    <p class="btn btn-danger">Décliner</p>
                  <% end %>
                </li>
              </ul>
          <% end %>
        </TD>
      </TR>
    <% end %>
  </TABLE>
</div>