<div class="user-profil">
  <div class="container">
    <div class="row">
      <div class="col-xs-3">
        <% if current_user.picture.exists? %>
            <%= image_tag @user.picture.url(:medium), class: "profil-img" %>
          <% else %>
            <%= image_tag "placeholder.png", class: "profil-img"%>
        <% end %>
      </div>

      <div class="col-xs-4">
        <h2>
          <% if @user.first_name != nil %>
            <%= @user.first_name %><%= "," %>
            <% else  %>
            <%= "" %>
          <% end %>
        </h2>
          <p><%= link_to "Mettre à jour votre profil", edit_user_registration_path(current_user), class: "link"%></p>
            <br>
          <div class= "about">
              <h3>A propos</h3>
            <p><%= @user.description %></p>
          </div>
          <br>
            <p><%= link_to "Voir mes boutiques", shops_path, class: "link"%></p>
      </div>
    </div>
  </div>
</div>
