<nav class="navbar navbar-default navbar-wagon" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <%= render 'shared/logo' %>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-left">
        <% if current_page?('/') == false %>
          <li>
            <%= form_tag(pastries_path, method: :get, class: "form-inline search-size padding-left padding-top") do %>
            <i class="fa fa-search icon-search"></i>
            <input type="text" class="form-control padding-left" placeholder="Macaron, éclair... " name="item">
            <% end %>
          </li>
        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li class="dropdown">
            <%= link_to "#", {class: "dropdown-toggle", "data-toggle" => "dropdown", "role" => "button", "aria-expanded" => "false"} do %>
              <% if current_user.picture.exists? %>
                 <%= image_tag current_user.picture.url(:thumb), class: "img-avatar" %>
                 <%= current_user.first_name %> <%= current_user.last_name %> <span class="caret"></span>
              <% else %>
                 <%= image_tag "placeholder.png", class: "img-avatar" %>
                 Profile <span class="caret"></span>
              <% end %>
            <% end %>
            <ul class="dropdown-menu" role="menu">
              <li>
                <%= link_to user_path(current_user) do %>
                  <i class="fa fa-user"></i> <%= t ".profile", default: "Mon profil" %>
                <% end %>
              </li>
              <li>
              <li>
                <%= link_to orders_sent_shopping_carts_path do %>
                  <i class="fa fa-shopping-cart"></i>  <%= t ".commandes", default: "Mes commandes passées" %>
                <% end %>
              </li>
                <li>
                <%= link_to orders_received_shopping_carts_path do %>
                  <i class="fa fa-cutlery"></i> <%= t ".commandes", default: "Mes commandes à traiter" %>
                <% end %>
              </li>
              <li>
                <%= link_to shops_path do %>
                  <i class="fa fa-home"></i>  <%= t ".boutiques", default: "Mes boutiques" %>
                <% end %>
              </li>
              <li>
                <%= link_to destroy_user_session_path, method: :delete do %>
                  <i class="fa fa-sign-out"></i>  <%= t ".sign_out", default: "Deconnexion" %>
                <% end %>
              </li>
            </ul>
          </li>
        <% else %>
          <li>
            <%= link_to t(".sign_up", default: "Inscription"), new_user_registration_path %>
          </li>
          <li>
            <%= link_to t(".sign_in", default: "Connexion"), new_user_session_path %>
          </li>
        <% end %>
        <li>
          <%= link_to "Ouvre ta boutique", new_shop_path, {class: "btn"} %>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>