<%= simple_form_for([@shop, @pastry],  html: { multipart: true }) do |f| %>
  <%= f.input :title, label: 'Nom de la patisserie', placeholder: "Macarrons", required: true %>
  <%= f.input :description, label: 'Ingrédients de la patisserie',placeholder: "Oeufs, Farine, sirop de fraise..", required: true %>
  <%= f.input :price_per_unit, label: "Prix à l'unité", placeholder: "10", required: true %>
  <%= f.input :unit_volume, collection: 1..12, label: 'Pour combien de personnes ?', placeholder:'4 macarrons, Pour 5 personnes..', required: true %>
  <%= f.input :preparation_address, label: 'Lieu de préparation', placeholder: "25 rue du petit musc", required: true %>
  <p>Ajoute ton image :</p>
  <p><%= f.file_field :picture %></p>
  <%= f.button :submit, 'Ajouter une patisserie', class: "btn btn-success" %>
<% end %>