<div class="container">

  <div class="row">
    <div class="col-xs-6">
      <div class="row">
        <% @pastries.each do |pastry| %>
          <div class="col-xs-6">
            <div class="pastry-box">
            <%= link_to pastry_path(pastry) do %>
              <% if pastry.picture_1.exists? %>
                <%= image_tag pastry.picture_1.url, class: "pastries-img" %>
                <% else %>
                  <%= image_tag "http://placehold.it/218x163", class: "pastries-img"%>
                <% end %>
                <% if pastry.shop.picture.exists? %>
                  <%= image_tag pastry.shop.picture.url, class: "shop-logo" %>
                <% else %>
                  <%= image_tag "http://placehold.it/72x72", class: "shop-logo"%>
                <% end %>
              <% end %>
              <div class="pastry-details">
                <p class="pastry-title"><%=pastry.title.slice(0,1).capitalize + pastry.title.slice(1..-1)%></p>
                <ul class="list-inline list-unstyled">
                  <li class="shop-name"><%=pastry.shop.name%></li>
                    <% if Geocoder::Calculations.distance_between([pastry.latitude, pastry.longitude], @location, :units => :km).nan? == true %>
                        <li class="distance"><%= "| "%><%= "- Km"%></li>
                    <% else %>
                      <li class="distance"><%= "| "%><%= (Geocoder::Calculations.distance_between([pastry.latitude, pastry.longitude], @location, :units => :km)).round(1)%><%= "Km"%></li>
                    <% end %>
                </ul>
                <%= link_to shop_path(pastry.shop) do %>
                  <div class="icon-right-container">
                    <i class="fa fa-angle-right icon-right"></i>
                  </div>
                <% end %>
              </div>
          </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="col-xs-6">

<div id="map" style="width: 100%; height: 600px;"></div>

  <% content_for(:after_js) do %>
    <%= javascript_tag do %>
      $(document).on('ready', function() {
        handler = Gmaps.build('Google');
        handler.buildMap({ internal: { id: 'map' } }, function(){
          markers = handler.addMarkers(<%= raw @markers.to_json %>);
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
        });
      })
    <% end %>
  <% end %>

    </div>
  </div>
</div>