<div id="banner">
  <div class="container">
    <div class='text-center'>
        <h1 style="padding-top: 250px"> Delice Avenue </h1>
        <h2>Trouve les meilleures patisseries maison près de chez toi</h2>
    </div>
  </div>
  <div class="container-fluid home-search">
    <div class="row">
      <%= form_tag(pastries_path, method: :get, class: "form-inline search-size") do %>
        <div class="text-center">
          <div class="form-group nested-group">

              <input type="text" class="form-control" placeholder="Macaron, cookie ... " name="item">
              <input id="search_input_autocomplete_location" placeholder="Ville" name="location" class="form-control">
              <input class="btn btn-success" type="submit" value="Rechercher">
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>


<div class="container-fluid" id="presentation">
  <div class="container">
  <div class="row">
      <div class="col-sm-4">
        <div class="col-xs-12 col-sm-3">
           <div>
             <%=image_tag("test1.png") %>
           </div>
        </div>
        <div class="col-xs-12 col-sm-8">
          <div>
            <h3><strong>Cherchez ...</strong></h3>
            <p>Recherchez près de chez vous les meilleures patisseries maisons présentées et préparées par nos meilleurs patissiers.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="col-xs-12 col-sm-3">
          <div>
               <%=image_tag("test2.png") %>
          </div>
        </div>
          <div class="col-xs-12 col-sm-8">
          <div>
            <h3><strong>Commandez :</strong></h3>
            <p>Choisissez parmis nos nombreuses boutiques et contactez le patissier de votre choix.</p>
          </div>
        </div>
        </div>

        <div class="col-sm-4">
          <div class="col-xs-12 col-sm-3">
            <div>
              <%=image_tag("test3.png") %>
            </div>
          </div>
          <div class="col-xs-12 col-sm-9">
            <div>
              <h3><strong>Goûtez !</strong></h3>
              <p>Recevez votre douceur chez vous ou allez la récupérer chez votre voisin pâtissier, <br>C'est l'heure de savourer !</p>
            </div>
          </div>
        </div>
        </div>

    </div>
  </div>
</div>

<div class="container text-center" id="shops">
  <div class="row">
    <div class="col-xs-12 title-padded"><h2>Découvre les nouveaux patissiers près de chez toi</h2></div>
    <div class="col-xs-12 col-sm-6 col-lg-4 text-center">
        <div class="pastry-card">
           <%=image_tag("patissier1.jpg", class: "img-thumbnail") %>
          <div id="text-card-padded">
            <h3>Amine</h3>
          </div>
      </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-lg-4 text-center">
    <div class="pastry-card">
      <%=image_tag("patissier2.jpg", class: "img-thumbnail") %>
        <div id="text-card-padded">
          <h3>Julie</h3>
        </div>
      </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-lg-4 text-center">
    <div class="pastry-card">
      <%=image_tag("patissier3.jpg", class: "img-thumbnail") %>
        <div id="text-card-padded">
          <h3>Sofia</h3>
        </div>
      </div>
  </div>
</div>
