<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) || "Macaron" %></title>
  <meta name="description" content="<%= (yield(:description) || "").squish %>">

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <%= stylesheet_link_tag :application, media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body id="<%= params[:controller]%>_<%= params[:action]%>">
  <%= render "shared/navbar" %>
  <%= render "shared/flashes" %>

  <div class="wrapper">
    <%= yield %>
  </div>

  <%= render "shared/footer" %>
   <%= javascript_include_tag "https://maps.google.com/maps/api/js?sensor=false" %>
  <%= javascript_include_tag "https://google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js" %>
  <%= javascript_include_tag :application %>
  <%= yield(:after_js) %>

<!-- Include Google Maps JS API -->
<script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyByTlEpdKA02pnCHjtyfFcp6etO5wC1ibs">
</script>

<!-- Custom JS code to bind to Autocomplete API -->
<!-- find it here: https://github.com/lewagon/google-place-autocomplete/blob/gh-pages/autocomplete.js -->
<!-- We'll detail this file in the article -->
<script type="text/javascript" src="autocomplete.js"></script>
</body>
</html>
